:root{
    --header-color:  #c965c6;
    --header-element-color: #ea8df7;
    --text-color: white;
    --title-color: white;
    --info-text-color: #48126b;
    --hover-bgc-color:#8913d7b9;
}
:root{
    --main-font-family:'Jost', sans-serif;
    --ligt-font-family: 'Jost-light', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box; 
}

.container{
    max-width: 1171px;
    margin: 0 auto;
}
.title-big{
    font-family: var(--main-font-family);
    color: var(--title-color);
    text-align: center;
    padding: 80px 24px;
    font-size: 60px;
}
.subtitle{
    font-family: var(--ligt-font-family);
    font-weight: 300;
    font-size: 15px;
}
/* index */
/* header */
header{
    background-color: var(--header-color);
}
.header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    display: flex;
    align-items: center;
}
.header__title{
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size:  40px;
    color: var(--text-color);
}
.header__subtitle{
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size:  23px;
    color: var(--text-color);
}
.header__logo-img img{
    max-width: 70px;
    height: auto;
    margin: 10px;
}

.header__info{
    background-color: var(--header-element-color);
    display: flex;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    font-family: var(--ligt-font-family);
    font-weight: 300;
    font-size: 15px;
    color: var(--info-text-color);
}
.header__info-adress{
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.header__info-adress-img svg{
    max-width: 18px;
    height: auto;
    margin-right: 5px;
}
.header__info-time{
    display: flex;
    align-items: center;
}
.header__info-time-img svg{
    max-width: 18px;
    height: auto;
    margin-right: 5px;
}
.header__contacts{
    align-items: center;
    
}
.header__tel{
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size:  25px;
    margin-bottom: 15px;
    color: var(--text-color);
    cursor: pointer;
    transition: all .3s;
}

.header__tel:hover{
    transition: all .3s;
    color: var(--info-text-color);
    
}

.header__contacts_media{
    margin-top: 10px;
    display: flex;
    justify-content: end;
    font-family: var(--ligt-font-family);
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}
.header__contacts_media-text{
    border-bottom: 1px solid var(--text-color);
    color: var(--text-color);
    font-family: var(--ligt-font-family);
    transition: all .3s;
}
.header__contacts_media-text:hover{
    transition: all .3s;
    color: var(--info-text-color);
    border-bottom: none;
}

.slash{
    margin: 0 5px;
    color: var(--text-color);
    transition: all .3s;
    cursor:default;
}
.slash:hover{
    transition: all .3s;
    color: var(--info-text-color);
}

.header__nav{
    padding: 10px;
    display: flex;
    justify-content: start;
    
}
.header__nav-wrap{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
}

.header__nav-item{
    font-family: 'Jost';
    font-weight: 700;
    font-size:  20px;
    color: var(--text-color);
    cursor: pointer;
    transition: all .3s;
}
.header__nav-item:hover{
    color: var(--info-text-color);
    transition: all .3s;
}
.nav__active{
    background-color: var(--header-element-color);
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
}
.nav__active:hover{
    transition: all .3s;
    background-color: var(--hover-bgc-color);
}

/* about */

.about{
    background-image: url(../img/children2.jpeg) ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* info */

.info__item-wrap{
    display: flex;
    gap: 35px;
    padding-top: 40px;
    justify-content: center;
}
.info__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--header-color);
    border-radius: 10px;
    padding: 40px 31px 25px;
}
.info__item-title{
    margin: 20px 0;
    text-align: center;
    font-size: 30px;
}
.info__item-subtitle{
    text-align: center;
    font-size: 20px;
    color: var(--info-text-color);
}
/* popular */
.popular{
    margin-bottom: 60px;
}

.popular__title{
    color: var(--info-text-color);
    text-align: center;
    margin-top: 120px;
    margin-bottom: 40px;
}
/* Slider */

.popular__slider_wrap{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.slider,
.slider-boy{
    width: 854px;
    height: 417px;
    margin: 30px auto;
    overflow: hidden; 
}
.slider-line,
.slider-line-boy{
    height: 417px;
    width: 3168px ;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
.slider-img{
    height: 417px;
    width: 278px;
    margin-right: 10px;
    border-radius: 10px;
}

.slider-next{
    width: 30px;
    height: 30px;
    border: none;
    background-color: inherit;
    border-top: 5px solid var(--info-text-color);
    border-right: 5px solid var(--info-text-color);;
    margin-right: 60px;
    cursor: pointer;
}

.slider-right,
.slider-right-boy{
    transform: rotate(45deg); 
}
.slider-left,
.slider-left-boy{
    transform: rotate(-135deg); 
}
.popular__nav{
    margin-top: 40px;
}
.popular__nav_girl{
    font-size: 30px;
}


/* footer */
footer{
    background-color: var(--hover-bgc-color);
    height: 90px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.footer__wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;

}
.footer__contacts{
    display: flex;
    align-items: center;
}


/* ABOUT.HTML */

/* about__info */

.about__info-text{
    font-family: var(--main-font-family);
    line-height: 1.6;
    max-width: 700px;
    align-items: center;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    padding: 50px 0 75px;
    color: var(--info-text-color);
}

/* RULES.HTML */

.rules__title{
    color: var(--info-text-color);
    margin: 40px 0 5px;
    text-transform: lowercase;
}
.rules__subtitle{
    color: var(--header-color);
    margin-left: 60px;
}

.rules__subtitle:last-child{
    margin-bottom: 40px;
}
.rules__item{
    margin-left: 40px;
}

/* CONTACTS.HTML */
.contacts{
    margin: 30px 0 ;
}
.contacts__wrap{
    display: flex;
    justify-content: space-between;
}
.contacts__info{
    background-color: var(--header-element-color);
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0 50px 50px;
    border-radius: 10px;
}
.contacts__info_title{
    text-transform: inherit;
}
.contacts__info_media{
    margin: 20px 0 ;
}
.contacts__info_media_soc{
    display: flex;
    margin: 20px 0 0;
    font-size: 20px;
}
.contacts__card__subtitle{
    font-size: 20px;
    color: var(--text-color);
}
.contacts__card_yandexCard{
    margin-top: 50px;
}

/* CATALOG */

.list {
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 35px;
    margin-top: 70px;
    margin-bottom: 70px;
  }

.list__item{
    border-radius: 10px;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 10%);
    width: fit-content;
    
}

.item__img{
    height: 551px ;
    width: 365px;
    border-top-left-radius: 10px;
}

.item__img img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.list__item-content{
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.list__item-content-title{
    font-family: var(--main-font-family);
    font-weight: 700px;
    color: var(--info-text-color);
    font-size: 35px;
    margin-bottom: 20px;
}
.list__item-content-price{
    font-family: var(--main-font-family);
    font-weight: 700px;
    color: var(--header-color);
    font-size: 20px;
    margin-bottom: 20px;
}